name: forecasting-env
channels:
  - conda-forge
  - defaults
dependencies:
  - python=3.11
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - scikit-learn
  - statsmodels
  - pip
  - pip:
      - yfinance
      - prophet
      - arch
      - xgboost
      - tqdm
